
:root{
  --main-background-color: #D9D9D9;
  --fell-font:"IM Fell English SC";
  --green-color: #94DA5D;
  --green-hover-color: #89d74d;
  --light-red-color: #FF794F;
  --light-red-hover-color: #f47650;
  --light-blue-color: rgb(179, 212, 221);
  --field-border-radius: 50px;
  --grid-width:80%
}
@font-face {
  font-family: "IM Fell English SC";
  font-style: normal;
  font-weight: 400;
  src: url('../res/fonts/IMFellEnglishSC-Regular.ttf');
}

@font-face {
  font-family: primer;
  font-weight: 600;
  src: url('../res/fonts/IMFellGreatPrimerSC-Regular.ttf');
}
body{
  margin: 0;
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  /* align-items: center; */
  height: 100vh;
  background-color: var(--main-background-color);
  font-family: primer;
 
 
}
.turn-text{
  text-align: center;
  font-size: 7rem;
  
}
.turn-text p{
  margin: 0
}
/***************************  Start of Main Container  ***********************************/

main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  /* padding-top: 20rem; */
  flex: 1;
  
}
/***************************  End of Main Container  ***********************************/

/***************************  Start of Start Up Left Side  ***********************************/
.difficulty-aside h1,
aside  h1{
font-size: 5rem;
margin: -1rem 0 6rem 0;
padding-top: 4rem;

}
.difficulty-aside,
.startup-aside-left{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.diff-buttons button,
.difficulty-aside button,
.startup-aside-left button{
  font-family: primer;
  font-size: 1.5rem;
  align-self: center;
  width: 22rem;
  border: 1px solid rgba(0, 0, 0, 0.218);
  padding: .75rem  0;
  border-radius: .8rem;
  margin: 1rem 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.startup-aside-left button:nth-child(2){
  background-color: var(--green-color);
}
.difficulty-aside button:nth-child(4),
.startup-aside-left button:nth-child(3){
  background-color: var(--light-red-color);
}

.startup-aside-left button:nth-child(2):hover{
  background-color: var(--green-hover-color);
}
.difficulty-aside button:nth-child(4):hover,
.startup-aside-left button:nth-child(3):hover {
  background-color: var(--light-red-hover-color)
}
/***************************  End of Start Up Left Side  ***********************************/
/***************************  Start of Difficulty Page  ***********************************/
.difficulty-aside p{
  font-size: 32px;
  text-align: center;
  padding: 1rem;
}
.difficulty-aside button:nth-child(2){
  background-color: lightblue;
}
.difficulty-aside button:nth-child(2):hover{
background-color: var(--light-blue-color);
}
.difficulty-aside img{
  width: 5rem;
  align-self: flex-start;
  justify-self: start;
  margin-top: 1rem;
}
.diff-buttons{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: var(--grid-width);
}
/***************************  End of Difficulty Page  ***********************************/
/***************************  Start of Ship Selection Page  ***********************************/
.select-aside{
  padding: 1rem;
  overflow: visible;
  
}
.select-aside > img{
  width: 5rem;
  position: sticky;
  
  height: auto;
}
.select-aside h1{
  margin-bottom: 2rem;
  text-align: center;
}
.color-section p {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.color-section div{
  display: flex;
  gap: 2rem;
}

/***************************  End of Ship Selection Page  ***********************************/
/***************************  Start of Right Side  ***********************************/

.left-side,
.right-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1s cubic-bezier(0.215, 0.610, 0.355, 1) ;
  width: 100%;
  
}
.left-side p,
.right-side p{
  font-size: 3rem;
  margin: 0;
}

.right-side:first-child{
margin-left: 5rem;

}
/* 
.slide-left{
  transform: translateX(-80%);
}
.display-none{
  display: none;
}
.grid-layout{
  
  grid-column: 3;
  grid-row: 0/1;
}
.main-content{
  overflow: hidden;
} */
/***************************  End of Right Side  ***********************************/
/***************************  Start of Ship Grid  ***********************************/
.ship-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
 
}

/***************************  End of Ship Grid  ***********************************/
/***************************  Start of Ship Card  ***********************************/
.ship-info > p {
  font-size: 3rem;
}
.ship-card .health-bar img{
  width: 1.5rem;
}
.ship-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ship-card > div{
  align-self: flex-start;
}
.ship-card > p{
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: .5rem;
}
.health-bar{
  display: flex;
  gap: .25rem;
}
.draggable{
  cursor: move;
}
.draggable.dragging{
  opacity: 0;
  
}

.hide{
  position: absolute;
  transition: 0.01s;
  transform: translateX(-3000px);
}

/***************************  End of Ship Card  ***********************************/
/***************************  Start of Main Grid  ***********************************/
.attack{
  cursor: url('../res/icons/focus.png') 64 64,pointer;
}
.ai-attack{
  background-color: red;
}
.cell-hit{
  background-color: #7c5e5e;
}
.cell-miss{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell-miss img{
  width: 5rem;
  height: auto;

}
.grid-container{
  position: relative;
  align-self: center;
  height: var(--grid-width);
  width: 90%;
  border-radius: var(--field-border-radius);
  overflow: hidden;
}
.grid-container > img{
  position: absolute;
  /* left: 492px;
  top: 474px; */
}
.north{
  transform-origin: top left;
  transform: rotate(90deg) translateY(100px);
  
}
.east{
  transform: scaleX(-1);
}
.south{
  transform-origin: bottom left;
  transform: rotate(-90deg) ;
}
.main-grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  background-image: url('../res/water.jpg');
  border-radius: var(--field-border-radius);
  
}

.main-grid div{
  border: 1px solid rgba(0, 0, 0, 0.178);
}
.main-grid div:nth-child(1){
  border-top-left-radius: var(--field-border-radius);
}
.main-grid div:nth-child(10){
  border-top-right-radius: var(--field-border-radius);
}
.main-grid div:nth-child(91){
border-bottom-left-radius: var(--field-border-radius);
}
.main-grid div:nth-child(100){
  border-bottom-right-radius: var(--field-border-radius);
}
/* div .overlap-cell{
  background-color: lightblue;
} */
div .overlap-cell,
.hovered-cell{
  background-color: #89d74d;
}
.invalid-cell{
  background-color: rgb(241, 38, 38);
}
div .ai-0{
  background-color: #D9D9D9;
}
div .ai-1 {
  background-color: #7c5e5e;
}
div .ai-2 {
  background-color: #805fe3;
}
div .ai-3 {
  background-color: #87cc17;
}
div .ai-4 {
  background-color: #c94add;
}
div .ai-5 {
  background-color: #caec08;
}
/***************************  End of Main Grid  ***********************************/
/***************************  Start of Background Image  ***********************************/
.background-box{
  width: 90%;
  height: 75%;
  overflow: hidden;
  position: relative;
  border-radius: 2rem;
  margin-top: -1.8rem;
}
.background-box img{
  /* margin-top: -2rem; */
  
  /* position: absolute; */
  /* right: 50px; */
  position: absolute;
  /* top: -10px;
  left: -80px; */
  object-fit: none;
  animation :move 20s linear infinite ;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  
 
}

@keyframes move {
  from{
    left: -50px
  }
  to{
    left:-400px
  }
}
/***************************  End of Background Image  ***********************************/



